*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    color: #555;
    padding: 100px;
    background-color: #333;
    color: #bbb;
}

a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: thin solid #555;
    font-size: 18px;
}

a.active{
    background-color: #0d81cd;
    color: #fff;
    border: #0d81cd;
}

.page-info{
    margin-top: 90px;
    font-size: 18px;
    font-weight: bold;
}

.pagination{
    margin-top: 20px;
}

.content p{
    margin-bottom: 25px ;
}

.page-numbers{
    display: inline-block;
}